body{
    background-image: url(./sf/mn2.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}
.header{
    display: flex;
}
.header img{
    width: 139px;
    height: 120px;
}
.list1 ul{
    display: flex;
    list-style-type: none;
    margin-left: 200px;
    border-radius: 30px;   
}
.list1 a{
    text-decoration: none;
    margin-left: 50px;
    line-height: 100px;
    padding-left: 5px;
    padding-right: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.list1 a:hover{
    
    transition: 1s;
    color: rgb(255, 38, 0);
}
@media(max-width:700px){
    .header{
        
        margin-top: 1px;
    }
    #menu{
        display: inline-block;   
    }
    .no{
        margin-left: 90%;
        margin-top: -50px;
    }
    #person{
        display: inline-block;
    }
    .header img{
        width: 100px;
        height: 80px;
    }
    .header .list1 {
      
      display: block;
    }
    .list1 ul{
        display: block;
        margin-left:420px;
        
    }
    .list1 a{
        margin: 0px;
        color: brown;
        line-height: 0px;
        font-size: 15px;
       
    }
    .list1.active{
        transform: scaleY(0);
    }
    .list1 a:hover{
        margin-left: 0px;
       padding: 0px;
        color: rgb(255, 38, 0);
    }
    .icon-cart{
       margin-bottom: 50px;
       margin-right: -40px;
        
    }
    .section2{
         font-size: 10px;
         display: grid;
    }
}



/*  */
.section2{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    transition:transform .5s;
}
.icon-cart{
    margin-top: -200px;
    
}
#svg{
    width: 30px;
    font-size: 35px;
    color: aliceblue;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}.container .icon-cart{
    position: relative;
}

.container .icon-cart span{
    display: flex;
    width: 25px;
    height: 25px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}
.listproduct .item img{
    width: 30%;
    
}
.title
{
    color: rgb(255, 38, 0);
    font-size: 25px;
    font-family: cursive;
    text-align: center;
    margin-left: 40%;
}
.listproduct{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: rgb(255, 38, 0);
}
.listproduct .item{
    background-color: rgba(24, 21, 18, 0.527);
    border-radius: 20px;
    padding: 20px;
    
}
.listproduct .item h2{
    font-weight: 500;
    font-size: larger;
}
.listproduct .item .price{
    letter-spacing: 4px;
    font-size: small;
}
.listproduct .item button{
    background-color: rgba(46, 37, 8, 0.911);
    border-radius: 20px;
    padding: 5px 10px;
    color: aliceblue;
    margin-top: 10px;
    border: none;
    cursor: pointers;
}
.cartTab{
    width: 400px;
    background-color: rgb(10, 10, 8);
    color: rgb(247, 95, 8);
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
}

body.showCart .cartTab{
    inset: 0 0 0 auto;
}
body.showCart .cartTab{
    transform: translateX(0px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button{
    background-color: rgb(165, 120, 36);
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .btn .close{
    background-color: antiquewhite;
}
.cartTab .listCart .item img{
    width: 60%;
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: aliceblue;
    color: black;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: aliceblue;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}